<div class="container">

  <div class="row">
    <div class="col">
      <div class="thread" *ngIf="thread">
        <div class="row card promoting-card mt-4">
          <div class="card card-image"
               style="background-image: url(../../../assets/background-gradient.jpg);">
            <div class="col toolbar">
              <div class="row">
                <div class="col-1 mt-3">
                  <i class="fas fa-reply backArrow" [routerLink]="['/forum']"></i>
                </div>
                <h4 class="card-title d-flex justify-content-center threadTitle col-11 pt-3 pr-5">
                  <strong>{{ thread.title }}</strong>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row posts">
    <div class="col">
      <div class="row card promoting-card mb-3"
           *ngFor="let post of posts"
           [id]="'post-' + post.id">

        <!-- Card content -->
        <div class="card-body d-flex flex-row">

          <!-- Avatar -->
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">

          <!-- Content -->
          <div>

            <p class="card-title font-weight-normal mb-2">{{ post.content }}</p>
            <!-- Subtitle -->
            <p class="card-text">{{ post.authorName }}</p>
            <p class="card-text"><i class="far fa-clock pr-2"></i>{{ post.created | timeAgo }}</p>

          </div>

        </div>

        <!-- Card content -->
        <div class="card-body" *ngIf="authService.roleMatch(['Admin', 'Moderator']) || post.authorId === authService.currentUser.id">
          <i class="fas fa-trash text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="Delete thread"></i>
          <i class="fas fa-edit text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="Edit thread"></i>
        </div>

      </div>
    </div>
  </div>

  <div class="row">

    <div class="col d-flex justify-content-center pagination">
      <app-pagination
        [totalItems]="pagination.totalItems"
        [currentPage]="pagination.currentPage"
        [itemsPerPage]="pagination.itemsPerPage"
        [totalPages]="pagination.totalPages"
        [loading]="loading"
        (goPrev)="prevPage()"
        (goNext)="nextPage()"
        (goPage)="goToPage($event)">
      </app-pagination>
    </div>

  </div>
</div>
