<div class="container pt-4">

  <div class="row">
    <div class="col">
      <div class="thread">
        <div class="row card promoting-card mt-4">
          <div class="card card-image thread-card"
               style="background-image: url(../../../assets/background-gradient.jpg);">
            <div class="col toolbar">
              <div class="row">
                <div class="col-1 mt-3">
                  <i [routerLink]="['/forum']" class="fas fa-reply backArrow btn-hover"></i>
                </div>

                <h4 class="card-title d-flex justify-content-center threadTitle col-11 pt-3 pr-5">
                  <strong>{{ thread?.title }}</strong>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row posts">
    <div class="col">
      <div [ngClass]="{'first-post': i == 0}"
           *ngFor="let post of posts; let i = index;"
           class="row card promoting-card mb-4"
           [id]="'post-' + post.id"
           on-mouseover="hoveredIndex = i" on-mouseleave="hoveredIndex = null">

        <!-- Card content -->
        <div class="card-body d-flex flex-row">

          <!-- Avatar -->
          <img src="{{ post.author.avatarUrl || '../../../assets/user.png' }}" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">

          <!-- Content -->
          <div>

            <p class="card-title font-weight-normal mb-2 post-content">{{ post.content }}</p>
            <!-- Subtitle -->
            <p class="card-text">{{ post.author.userName }}</p>
            <p class="card-text"><i class="far fa-clock pr-2"></i>{{ post.created.toString() | timeAgo }}</p>

          </div>

        </div>

        <!-- Card content -->
        <div class="card-body" *ngIf="authService.roleMatch(['Admin', 'Moderator', 'Member'])">
          <div class="row buttons">
            <div *ngIf="hoveredIndex === i && i !== 0" class="col">
              <i class="fas fa-quote-right text-muted float-right p-1 my-1 btn-hover"
                 data-toggle="tooltip" data-placement="top" title="Quote post"
                 (click)="quote(post.content, post.author.userName)"></i>

              <div *ngIf="authService.roleMatch(['Admin', 'Moderator']) ||
              (authService.currentUser !== undefined && post.author.id === authService.currentUser.id)">
                <i class="fas fa-trash text-muted float-right p-1 my-1 mr-3 btn-hover"
                   data-toggle="tooltip" data-placement="top" title="Delete post"
                   (click)="showDeleteWarning(post.id)"></i>
                <i class="fas fa-edit text-muted float-right p-1 my-1 mr-3 btn-hover"
                   data-toggle="tooltip" data-placement="top" title="Edit post"></i>
              </div>
            </div>
          </div>
          <div class="row"
               *ngIf="i === 0 &&
               authService.roleMatch(['Admin', 'Moderator', 'Member'])">
            <div class="col">
              <button type="button" class="btn btn-info waves-effect float-right mt-3 mr-0"
                      data-toggle="modal" data-target="#basicExample"
                      (click)="newPost.show()" mdbWavesEffect
                      *ngIf="authService.roleMatch(['Admin', 'Moderator', 'Member'])">
                <span>Add Answer</span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">

    <div *ngIf="pagination.totalItems > pagination.itemsPerPage" class="col d-flex justify-content-center pagination">
      <app-pagination
        [totalItems]="pagination.totalItems"
        [currentPage]="pagination.currentPage"
        [itemsPerPage]="pagination.itemsPerPage"
        [totalPages]="pagination.totalPages"
        [loading]="loading"
        (goPrev)="prevPage()"
        (goNext)="nextPage()"
        (goPage)="goToPage($event)">
      </app-pagination>
    </div>

  </div>
</div>

<div mdbModal #newPost="mdbModal" class="modal fade top" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" (onHide)="clearForm()">
  <div class="modal-dialog modal-dialog-centered newPostModal" role="document">
    <div class="modal-content">

      <div class="modal-header text-center text-white" style="background-image: url(../../../assets/background-gradient.jpg);">
        <h4 class="modal-title">Add Answer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="newPost.hide()">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>

      <form (ngSubmit)="answer()" class="pt-0">
        <div class="modal-body px-4">
          <div class="md-form">
          <textarea class="md-textarea form-control validate"
                    rows="3" id="threadForm-content" type="text" length="2000"
                    mdbCharCounter mdbInput
                    [formControl]="postForm">
          </textarea>
            <label data-error="wrong" data-success="right" for="threadForm-content">Content</label>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" mdbBtn class="waves-light info-color" aria-label="Close"
                  (click)="newPost.hide()" mdbWavesEffect>Close
          </button>
          <button type="submit" mdbBtn class="waves-light info-color" aria-label="Close"
                  mdbWavesEffect [disabled]="!postForm.valid">Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div mdbModal #deletePost="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger modal-side modal-top-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading">Delete Post</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deletePost.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="row">
          <div class="col">
            <p class="text-center">This action cannot be undone. This will permanently delete this post.</p>
          </div>
        </div>

      </div>

      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="info" class="waves-effect" mdbWavesEffect (click)="deletePost.hide()"
           data-dismiss="modal">No, thanks</a>
        <button mdbBtn color="danger" class="waves-effect" mdbWavesEffect (click)="delete()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
