.container {
  height: calc(100vh - 55.99px);
  max-width: 800px;
}

.card {
  max-height: 150px;
}

.posts {
  min-height: 697px;
}

.pagination {
  background-color: white;
}

.threadTitle {
  color: whitesmoke;
  padding: 10px;
}
