.card-footer {
  border-top: none;
  background: #fff;
}

.rgba-black-strong, .rgba-black-strong:after {
  background-color: #00000077;
}

.modal-body, .modal-footer {
  color: #757575 !important;
}

.close {
  color: #fff;
}
