<table mdbTable class="container mt-5">
  <thead class="text-white" style="background-image: url(../../../assets/background-gradient.jpg);">
  <tr>
    <th *ngFor="let header of headers" scope="col"><h5><b>{{header}}</b></h5></th>
  </tr>
  </thead>
  <tbody>
  <tr mdbTableCol *ngFor="let user of users; let i = index">
    <th scope="row">{{i}}</th>
    <td>{{user.avatarUrl}}</td>
    <td>{{user.userName}}</td>
    <td>{{user.country}}</td>
    <td>{{user.points}}</td>
  </tr>
  </tbody>
</table>

