<mdb-card class="mt-4 mb-4">

  <mdb-card-header class="info-color white-text text-center pt-4 pb-3">
    <h5>
      <strong>Sign up</strong>
    </h5>
  </mdb-card-header>

  <mdb-card-body class="px-lg-5 pt-0">

    <form [formGroup]="registerForm"
          (keydown.enter)="registerForm.invalid ? $event.preventDefault() : setFocus('submit')" (ngSubmit)="register()"
          class="text-center" style="color: #757575;">

      <div class="md-form">
        <input type="text" formControlName="username" id="materialRegisterFormUsername" class="form-control" mdbInput
               mdbValidate>
        <label for="materialRegisterFormUsername">Username</label>
        <mdb-error *ngIf="username.invalid && (username.dirty || username.touched)">This field is required</mdb-error>
      </div>

      <div class="md-form">
        <input type="email" formControlName="email" id="materialRegisterFormEmail" class="form-control" mdbInput
               mdbValidate>
        <label for="materialRegisterFormEmail">E-mail</label>
        <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Invalid Email format</mdb-error>
      </div>

      <div class="md-form">
        <input type="password" formControlName="password" id="materialRegisterFormPassword" class="form-control"
               mdbInput mdbValidate>
        <label for="materialRegisterFormPassword">Password</label>
        <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">Password is not strong enough
        </mdb-error>
      </div>

      <div class="md-form">
        <input type="password" formControlName="confirmPassword" id="materialRegisterFormConfirmPassword"
               class="form-control"
               mdbInput mdbValidate>
        <label for="materialRegisterFormConfirmPassword">Confirm Password</label>
        <mdb-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">Passwords do
          not match
        </mdb-error>
      </div>

      <div class="btn-group w-100 pt-0">
        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
                mdbWavesEffect (click)="cancelRegisterButton()">Cancel
        </button>
        <button #submit mdbBtn color="info" outline="true" rounded="true" block="true"
                class="my-4 waves-effect z-depth-0"
                mdbWavesEffect
                type="submit" [disabled]="registerForm.invalid">Sign up
        </button>
      </div>

    </form>

  </mdb-card-body>

</mdb-card>
