<div class="container">

  <div class="row card promoting-card mt-4" style="background-image: url(../../../assets/background-gradient.jpg);">
    <div class="col toolbar mt-2">
        <button type="button" class="btn btn-white waves-effect mt-3"
                data-toggle="modal" data-target="#basicExample"
                (click)="frame.show()" mdbWavesEffect
                *ngIf="authService.roleMatch(['Admin', 'Moderator', 'Member'])">
          <mdb-icon fas icon="plus" class="mr-2"></mdb-icon>
          <span>New thread</span>
        </button>

        <form class="form-inline md-form form-sm" style="float: right" (keyup.enter)="searchForum()">
          <input class="search ng-dirty ng-invalid ng-touched"
                 type="text" placeholder="Search" aria-label="Search"
                 mdbInput [formControl]="searchForm">
          <i class="fas fa-search white-text magnifier" aria-hidden="true" (click)="searchForum()"></i>
        </form>
    </div>
  </div>

  <div class="row threads">
    <div class="col">
      <div class="row card promoting-card my-4"
           *ngFor="let thread of threads"
           [id]="'thread-' + thread.id">

        <!-- Card content -->
        <div class="card-body d-flex flex-row pb-1" [routerLink]="['/forum', thread.id]">

          <!-- Avatar -->
          <img src="{{ thread.authorAvatar || '../../../assets/user.png' }}" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">

          <!-- Content -->
          <div>

            <!-- Title -->
            <h4 class="card-title font-weight-bold mb-2">{{ thread.title}}</h4>
            <!-- Subtitle -->
            <p class="card-text">{{ thread.authorName }}</p>
            <p class="card-text"><i class="far fa-clock pr-2"></i>{{ thread.created | timeAgo}}</p>

          </div>

        </div>

        <!-- Card content -->
        <div class="card-body" *ngIf="authService.roleMatch(['Admin', 'Moderator']) ||
        (authService.currentUser !== undefined && thread.authorId === authService.currentUser.id)">
          <i class="fas fa-trash text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="Delete thread"
             (click)="showDeleteModal(thread.id)"></i>
          <i class="fas fa-edit text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="Edit thread"></i>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center pagination">
      <app-pagination
        [totalItems]="pagination.totalItems"
        [currentPage]="pagination.currentPage"
        [itemsPerPage]="pagination.itemsPerPage"
        [totalPages]="pagination.totalPages"
        [loading]="loading"
        (goPrev)="prevPage()"
        (goNext)="nextPage()"
        (goPage)="goToPage($event)">
      </app-pagination>
    </div>
  </div>
</div>

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered newThreadModal" role="document">
    <div class="modal-content">

      <div class="modal-header text-center text-white" style="background-image: url(../../../assets/background-gradient.jpg);">
        <h4 class="modal-title w-100 font-weight-bold">New thread</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="threadForm" (ngSubmit)="addThread()" class="px-5 pt-0">
        <div class="modal-body">
          <div class="md-form">
            <input type="text" id="threadForm-title" class="form-control validate"
                   mdbInput
                   formControlName="title">
            <label data-error="wrong" data-success="right" for="threadForm-title">Title</label>
          </div>

          <div class="md-form">
            <textarea class="md-textarea form-control validate"
                    rows="3" id="threadForm-content" type="text" length="2000"
                    mdbCharCounter mdbInput
                    formControlName="content">
          </textarea>
            <label data-error="wrong" data-success="right" for="threadForm-content">Content</label>
          </div>
        </div>

        <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn color="default" class="waves-light" mdbWavesEffect [disabled]="!threadForm.valid">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div mdbModal #deleteModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger modal-side modal-top-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading">Delete thread</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deleteModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="row">
          <div class="col">
            <p class="text-center">This action cannot be undone. This will permanently delete this thread.</p>
          </div>
        </div>

      </div>

      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="info" class="waves-effect" mdbWavesEffect (click)="deleteModal.hide()"
           data-dismiss="modal">No, thanks</a>
        <button mdbBtn color="danger" class="waves-effect" mdbWavesEffect (click)="deleteThread()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
