.container {
  max-width: 750px;
  max-height: 650px!important;
}

.card {
  max-height: 150px;
}

.threads {
  min-height: 669px;
}

.magnifier {
  font-size: 25px;
}

::placeholder {
  color: ghostwhite;
  font-size: 0.8em;
}

.search {
  color: white;
  font-size: 1.2em;
}

.replyBtn {
  font-size: 1.4em;
}

.newThreadModal {
  max-width: 420px;
}

.btn-hover {
  transition: 0.2s;
}

.btn-hover:hover {
  transition: 0.2s;
  opacity: 0.5;
}

.thread-title-hover {
  cursor: pointer;
}
