/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
@import "~@angular/cdk/overlay-prebuilt.css";

#toast-container > div {
    opacity:1;
}

.background-img {
  background: url('assets/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
